<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net452" />
  <package id="DotNetToolkit.Repository" version="2.8.5" targetFramework="net452" />
  <package id="DotNetToolkit.Repository.InMemory" version="2.8.5" targetFramework="net452" />
  <package id="DotNetToolkit.Wpf" version="1.0.4.35" targetFramework="net452" />
  <package id="Moq" version="4.12.0" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net452" />
  <package id="Unity" version="5.10.3" targetFramework="net452" />
</packages>